<div class="select-field">
  <span class="item">hello</span>
  <span class="icon"></span>
</div>
<div class="dropdown-content">
  <div class="search">
    {{input}}
  </div>
  <ul class="list">
    <li>hello</li>
    <li>hello 2</li>
    <li>hello 2 3</li>
  </ul>
</div>